@using Application.DTO.Email
@model ConfirmEmailLetterDto

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Email Confirmation</title>
    <style>
        body {
            font-family: "Tahoma", sans-serif;
            align-content: flex-start;
        }

        .container {
            max-width: 600px;
            min-height: 600px;
            margin: auto;
            padding: 20px;
            background: #f9f9f9;
        }

        .button {
            height: 50px;
            padding: 16px 24px;
            justify-content: center;
            align-items: center;
            font-size: .8rem;
            text-decoration: none;
            border: 1px solid #cacaca;
            border-radius: 25px;
            cursor: pointer;
            user-select: none;
        }

        .link {
            font-size: .5rem;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Confirm Your Email Address</h2>
        <p>
            Thank you for registering, <b>@Model.UserName</b>!
        </p>
        <p>
            Please click the button below to confirm your email:
        </p>
        <br />
        <a href="@Model.ConfirmationLink" class="button">Confirm Email</a>
        <br />
        <br />
        <p>
            If the button does not work, copy and paste the link into your browser:
            <br />
            <a href="@Model.ConfirmationLink" class="link">@Model.ConfirmationLink</a>
        </p>
        <p>If you did not register, please ignore this email.</p>
        <p>Need help? Contact our support team.</p>
    </div>
</body>
</html>