@using Application.DTO.Email.Letters
@model GreetingLetterDto

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Welcome! Your account is ready to use</title>
    <style>
        body {
            font-family: "Tahoma", sans-serif;
            align-content: flex-start;
        }

        .container {
            max-width: 600px;
            min-height: 600px;
            margin: auto;
            padding: 20px;
            background: #f9f9f9;
        }

        .button {
            height: 50px;
            padding: 16px 24px;
            justify-content: center;
            align-items: center;
            font-size: .8rem;
            text-decoration: none;
            border: 1px solid #cacaca;
            border-radius: 25px;
            cursor: pointer;
            user-select: none;
        }

        .link {
            font-size: .5rem;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Welcome, @Model.UserName!</h2>
        <p>Thank you for signing up with your @Model.Provider account!</p>
        <p>Your account is already verified and ready to use.</p>
        <br />
        <a href="@Model.LoginLink" class="button">Log in</a>
        <br />
        <br />
        <p>Need help? Contact our support team.</p>
    </div>
</body>
</html>